# tsfreshで特徴量作成

In [1]:
#ライブラリをインポート
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#解析データをdfとして取り込み、id=1の列を追加（id=1の行がtsfreshの解析対象になるので、全行にid=1を割り当てる）
df = pd.read_excel("入力データ.xlsx", sheet_name="波形データ", index_col=0)
nug = pd.read_excel("入力データ.xlsx", sheet_name="Nugget", index_col=0)

df['id'] = 1

#データの先頭5行を確認（データにミスが無いか確認）
df.head()

,1,2,3,4,5,6,7,8,9,10,...,93,94,95,96,97,98,99,100,101,id
No,,,,,,,,,,,,,,,,,,,,,
time_1,0.990607,1.668915,1.776132,1.749081,1.848263,1.770670,1.970585,1.918033,1.866176,1.943025,...,1.986662,1.951425,1.935142,1.955834,1.989123,1.946936,1.984508,1.888336,1.845127,1
time_2,0.841471,1.327137,1.734427,0.993954,1.440724,1.081505,1.945080,1.695870,1.103119,1.503455,...,1.261544,1.411306,1.466108,1.767686,1.534756,1.723808,1.838034,1.826516,0.968491,1
time_3,0.909297,1.111378,1.230344,1.444847,1.702474,1.249707,1.676757,1.905421,1.810481,1.751209,...,1.968013,1.680663,1.910978,1.355728,1.004164,1.591883,1.745091,1.539681,1.694292,1
time_4,0.141120,0.607504,0.762426,1.019978,1.249574,0.875411,1.514007,1.622256,1.866176,1.716741,...,1.642331,1.458652,1.711695,1.123713,1.520672,1.502337,1.618326,1.836457,1.454067,1
time_5,-0.756802,0.002907,-0.610336,0.253292,0.351292,0.303609,0.748752,1.128678,0.859294,1.445477,...,1.564976,1.574032,1.413235,1.124842,1.253174,1.189655,1.182477,1.888336,1.554944,1

In [3]:
#tsfreshからextract_features、MinimalFCParametersをインポート
from tsfresh import extract_features
from tsfresh.feature_extraction import extract_features, MinimalFCParameters

#欠損値補完用のimputeをインポート
from tsfresh.utilities.dataframe_functions import impute

#MinimalFCParameters関数はsettingsに入れておく
settings = MinimalFCParameters()

In [4]:
#extract_featuresで特徴量を作成し、ts_featuresに格納
df_ts = extract_features(df, column_id='id')
df_ts

Feature Extraction: 100%|██████████| 34/34 [00:04<00:00,  8.09it/s]

,4__variance_larger_than_standard_deviation,4__has_duplicate_max,4__has_duplicate_min,4__has_duplicate,4__sum_values,4__abs_energy,4__mean_abs_change,4__mean_change,4__mean_second_derivative_central,4__median,...,99__permutation_entropy__dimension_5__tau_1,99__permutation_entropy__dimension_6__tau_1,99__permutation_entropy__dimension_7__tau_1,99__query_similarity_count__query_None__threshold_0.0,"99__matrix_profile__feature_""min""__threshold_0.98","99__matrix_profile__feature_""max""__threshold_0.98","99__matrix_profile__feature_""mean""__threshold_0.98","99__matrix_profile__feature_""median""__threshold_0.98","99__matrix_profile__feature_""25""__threshold_0.98","99__matrix_profile__feature_""75""__threshold_0.98"
1,0.0,1.0,0.0,1.0,26.052355,36.644488,0.595254,-0.057924,-0.004864,0.993954,...,3.141804,3.258097,3.218876,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#MinimalFCParametersで特徴量を作成し、Mini_featuresに格納
df_mini = extract_features(df, column_id="id", default_fc_parameters=settings)
df_mini

Feature Extraction: 100%|██████████| 34/34 [00:02<00:00, 11.95it/s]

,1__sum_values,1__median,1__mean,1__length,1__standard_deviation,1__variance,1__root_mean_square,1__maximum,1__minimum,2__sum_values,...,100__minimum,101__sum_values,101__median,101__mean,101__length,101__standard_deviation,101__variance,101__root_mean_square,101__maximum,101__minimum
1,1.270658,0.14112,0.040989,31.0,0.728814,0.531169,0.729965,0.990607,-0.99999,15.977742,...,0.938387,42.113431,1.3976,1.358498,31.0,0.276294,0.076338,1.38631,1.845127,0.968491

In [6]:
#特徴量の中で計算不可だった値(NaN)を0で埋める
df_ts = impute(df_ts)
df_mini = impute(df_mini)

C:\Users\yuuuu\anaconda3\lib\site-packages\tsfresh\utilities\dataframe_functions.py:171: RuntimeWarning: The columns ['4__sample_entropy' '4__fft_coefficient__attr_"real"__coeff_16'
 '4__fft_coefficient__attr_"real"__coeff_17' ...
 '99__matrix_profile__feature_"median"__threshold_0.98'
 '99__matrix_profile__feature_"25"__threshold_0.98'
 '99__matrix_profile__feature_"75"__threshold_0.98'] did not have any finite values. Filling with zeros.
  warnings.warn("The columns {} did not have any finite values. Filling with zeros.".format(

# 配列を整理

In [7]:
df_ts = df_ts.transpose()
df_mini = df_mini.transpose()

In [8]:
df_ts_al = pd.DataFrame(index=range(787), columns=[''])

target = '__'

x = 0

while x <  len(df_ts)/787:
    n = df_ts.index[x*787]
    idx = n.find(target)
    r = n[:idx]
    
    df_ts_al[r] = df_ts.iloc[x*787:(x+1)*787, 0].values
    x += 1


df_ts_al = df_ts_al.drop(df_ts_al.columns[0], axis=1)

In [9]:
index_al = df_ts.index[0]

idx_2 = index_al.find(target)
r_2 = index_al[:idx_2+2:]


df_ts_id = df_ts.iloc[0:787,0]
df_ts_id = df_ts_id.rename(index=lambda s: s.replace(r_2, ""))

df_ts_al = df_ts_al.set_axis(df_ts_id.index, axis=0)


df_ts_al = df_ts_al.transpose()

In [10]:
num = list(df_ts_al.index)
num = list(map(int, num)) 
df_ts_al['num'] = num

df_ts_al = df_ts_al.sort_values(by='num')
df_ts_al = df_ts_al.drop('num', axis = 1)

df_ts_al = df_ts_al.transpose()

In [11]:
df_mini_al = pd.DataFrame(index=range(9), columns=[''])

target = '__'

x = 0

while x <  len(df_mini)/9:
    n = df_mini.index[x*9]
    idx = n.find(target)
    r = n[:idx]
    
    df_mini_al[r] = df_mini.iloc[x*9:(x+1)*9, 0].values
    x += 1


df_mini_al = df_mini_al.drop(df_mini_al.columns[0], axis=1)

In [12]:
index_al = df_mini.index[0]

idx_2 = index_al.find(target)
r_2 = index_al[:idx_2+2:]


df_mini_id = df_mini.iloc[0:9,0]
df_mini_id = df_mini_id.rename(index=lambda s: s.replace(r_2, ""))

df_mini_al = df_mini_al.set_axis(df_mini_id.index, axis=0)


df_mini_al = df_mini_al.transpose()

In [13]:
num = list(df_mini_al.index)
num = list(map(int, num)) 
df_mini_al['num'] = num

df_mini_al = df_mini_al.sort_values(by='num')
df_mini_al = df_mini_al.drop('num', axis = 1)

df_mini_al = df_mini_al.transpose()

## SelectKbest 上位の特徴量にフラグを立てる

In [14]:
from sklearn.feature_selection import SelectKBest,f_regression

x = df_ts_al.transpose()
y = nug.transpose()

In [15]:
selector = SelectKBest(score_func=f_regression, k=10) 
selector.fit(x, y)
mask = selector.get_support()

C:\Users\yuuuu\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yuuuu\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:295: RuntimeWarning: invalid value encountered in sqrt
  X_norms = np.sqrt(row_norms(X.T, squared=True) -
C:\Users\yuuuu\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:302: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
C:\Users\yuuuu\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:302: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\yuuuu\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:307: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom

In [16]:
df_ts_al.insert(0,"選別フラグ", mask)

In [ ]:
df_ts_al = df_ts_al.transpose()
df_ts_al.insert(0,"ナゲット径", y)
df_ts_al = df_ts_al.transpose()

# 結果を出力

In [17]:
with pd.ExcelWriter('extracted_features.xlsx') as writer:
    df_ts_al.to_excel(writer, sheet_name='tsfresh特徴', encoding="cp932")
    df_mini_al.to_excel(writer, sheet_name='Minimal特徴', encoding="cp932")